*
!*/
!.xinitrc
!.Xresources
!.tmux.conf
!.inputrc
!.zshrc
!.bashrc
!.bash_profile
!.gitconfig
!.config/nvim/**
!.config/zathura/**
!.config/pcmanfm/**
!.config/gpick/**
!.config/viewnior/*.conf
!.config/fontconfig/**
!.config/Code/User/*/*
